@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 200px);
    grid-template-areas: 
    "header header header"
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer";
}

header {
    grid-area: header;
    
    background-image: url(/assets/img/Header-Background-mb.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    font-family: 'Luckiest Guy';
    font-weight: normal;
    font-size: 1.8rem;
    color: white;
    margin: 30px 0px 0px 30px;
}

header p {
    font-family: 'Open Sans';
    font-weight: normal;
    color: white;
    font-size: .8rem;
    padding: 30px;
}

#open-download {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}

#open-download button {
    font-family: 'Open Sans';
    font-size: 1rem;
    width: 381px;
    height: 46px;
    border-radius: 50px;
    margin: 5px;
    text-align: center;
}

#open-download .download-discord {
    border: 0px;
}

#open-download .open-discord {
    border: 0px;
    color: white;
    background-color: #23272A;
}




main {
    
    background-color: rgb(117, 126, 255);
    grid-area: main;
    font-family: 'Open Sans';
    text-align: center;

}

main h2 {
    font-family: 'Open Sans';
    font-weight: bolder;
    font-size: 1.2rem;
    color: #23272A;
}

main p {
    font-weight: normal;
    font-size: .8rem;
    color: #23272A;
}

img {
    max-width: 100%;
}

.primeira {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;

}

.conteudo {
    display: flex;
    
}

.conteudo-texto {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
}

.conteudo picture,
.conteudo h2,
.conteudo p {
    flex: 1;
}

.conteudo picture {
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}



footer {
    background-color: #23272A;
    grid-area: footer;
}